<div class="bg-no-repeat bg-cover" style="background-image:url(assets/wallpaper-pixel2.jpg)">
  <div class="flex h-screen items-center justify-center">
    <div class="flex flex-col items-center space-y-8">
      <div class="w-80 rounded-[20px] bg-white p-8" style="box-shadow:#00000057 1px 3px 4px">
        <h1 class="mb-4 text-center text-3xl font-bold text-black" style="text-shadow:#00000063 0px 3px 5px">
          {{'register.create_account' | translate}}
        </h1>
        <div class="space-y-4">
          <input
            type="text"
            placeholder="{{'register.full_name_placeholder' | translate}}"
            [(ngModel)]="fullName"
            class="w-full rounded-md bg-[#E9EFF6] p-2.5 placeholder:text-[#000000]"
            style="box-shadow:rgb(0 0 0 / 21%) 0px 7px 5px 0px" />

          <input
            type="email"
            placeholder="{{'register.email_placeholder' | translate}}"
            [(ngModel)]="email"
            class="w-full rounded-md bg-[#E9EFF6] p-2.5 placeholder:text-[#000000]"
            style="box-shadow:rgb(0 0 0 / 21%) 0px 7px 5px 0px" />

          <input
            type="password"
            placeholder="{{'register.password_placeholder' | translate}}"
            [(ngModel)]="password"
            class="w-full rounded-md bg-[#E9EFF6] p-2.5 placeholder:text-[#000000]"
            style="box-shadow:rgb(0 0 0 / 21%) 0px 7px 5px 0px" />

          <input
            type="password"
            placeholder="{{'register.confirm_password_placeholder' | translate}}"
            [(ngModel)]="confirmPassword"
            class="w-full rounded-md bg-[#E9EFF6] p-2.5 placeholder:text-[#000000]"
            style="box-shadow:rgb(0 0 0 / 21%) 0px 7px 5px 0px" />

          <!-- 🌍 Selección de idioma -->
          <select
            [(ngModel)]="selectedLanguage"
            name="language"
            class="w-full rounded-md bg-[#E9EFF6] p-2.5 text-[#000000]"
            style="box-shadow:rgb(0 0 0 / 21%) 0px 7px 5px 0px">
            <option value="en">🌐 English</option>
            <option value="es">🌐 Español</option>
            <!-- Agrega más idiomas si lo deseas -->
          </select>
        </div>

        <div class="mb-4 pt-2">
          <span class="ml-2 text-[10px] text-[#228CE0]">{{'register.already_have_account' | translate}}</span>
          <button
            class="cursor-pointer text-[#7337FF] hover:underline bg-transparent border-none"
            (click)="navigateToLogin()"
          >
            {{'register.sign_in' | translate}}
          </button>
        </div>

        <div class="mb-4 flex justify-center">
          <button
            class="h-10 w-full cursor-pointer rounded-md bg-gradient-to-br from-[#1980e6] to-[#3269FF] text-white shadow-md shadow-blue-950"
            (click)="register()">
            {{'register.register_button' | translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
