<div
  class="flex flex-col items-center justify-center min-h-screen text-center p-8"
>
  <h1 class="text-5xl font-extrabold text-white mb-4">
    {{'CSharpFinalLevel.title' | translate}}
  </h1>
  <p class="text-xl text-white mb-6">
    {{'CSharpFinalLevel.description' | translate}}
  </p>

  <div class="bg-white p-6 rounded-lg shadow-xl w-full max-w-xl mx-auto">
    <h2 class="text-2xl font-bold text-gray-800 mb-4">
      {{'CSharpFinalLevel.codeEntry' | translate}}
    </h2>

    <textarea
      [(ngModel)]="userCode"
      class="w-full p-3 border border-gray-300 rounded-lg text-gray-800 font-mono"
      rows="5"
      placeholder="{{'CSharpFinalLevel.hint' | translate}}"
    ></textarea>

    <button
      (click)="checkCode()"
      class="mt-4 px-6 py-3 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition-all"
    >
      {{'CSharpFinalLevel.runCodeButton' | translate}}
    </button>

    <p
      *ngIf="feedbackMessage"
      [ngClass]="{ 'text-green-600': isCorrect, 'text-red-600': !isCorrect }"
      class="text-lg mt-4"
    >
      {{ feedbackMessage }}
    </p>

    <!-- Contenedor de los botones de pista y home -->
    <div
      *ngIf="isCorrect || showHint"
      class="mt-6 flex flex-col items-center gap-4"
    >
      <!-- Botón de pista (solo aparece después de 2 intentos fallidos) -->
      <button
        *ngIf="showHint"
        (click)="showHintMessage()"
        class="px-6 py-3 bg-yellow-500 text-white rounded-lg hover:bg-yellow-600 transition-all"
      >
        {{'CSharpFinalLevel.hintButton' | translate}}
      </button>

      <p *ngIf="hintMessage" class="text-lg text-gray-700 mt-4 italic">
        {{ hintMessage }}
      </p>

      <!-- Botón de Finalización -->
      <button
        *ngIf="isCorrect"
        (click)="goHome()"
        class="mt-6 px-6 py-3 bg-green-600 text-white rounded-lg shadow-md hover:bg-green-700 transition-all"
      >
        {{'CSharpFinalLevel.congratulations' | translate}}
      </button>
    </div>
  </div>
</div>
