<p class="text-white">challenges works!</p>
<p class="text-white">challenges works!</p>
<p class="text-white">challenges works!</p>
<p class="text-white">rellenar una carta por cada persona que quiera añadir un reto, en base de datos reservar</p>
    <p class="text-white">un campo para ver cúanta gente ha resuelto el problema (resuelto por "16" personas), añadir una cantidad de </p>
    <p class="text-white">niveles y mostrarlos aleatoriamente o poder añadir el tuyo propio y añadir un sistema de rangos y 
    premios o recompensas</p>
