<div
  class="flex flex-col items-center justify-center min-h-screen bg-grey-700 text-center p-8 pt-24"
>
  <!-- Título -->
  <h1 class="text-5xl font-extrabold text-white mb-4">
    {{ 'python_level1.title' | translate }}
  </h1>
  <!-- Descripción -->
  <p class="text-xl text-white mb-6">
    {{ 'python_level1.intro' | translate }}
  </p>
  
  <!-- Cajita de pregunta -->
  <div class="bg-white p-6 rounded-lg shadow-xl w-full max-w-xl mx-auto">
    <!-- Pregunta -->
    <h2 class="text-3xl font-bold text-gray-800 mb-4">
      {{ 'python_level1.question_title' | translate }}
    </h2>
    <!-- Explicación pregunta -->
    <p class="text-lg text-gray-700 mb-4">
      {{ 'python_level1.question_text' | translate }}
    </p>

    <!-- Opciones con método checkear opcion correcta -->
    <div class="flex flex-col gap-4 mb-6">
      <button
        (click)="checkAnswer('option1')"
        class="px-6 py-3 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition-all"
      >
        {{ 'python_level1.options.option1' | translate }}
      </button>
      <button
        (click)="checkAnswer('option2')"
        class="px-6 py-3 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition-all"
      >
        {{ 'python_level1.options.option2' | translate }}
      </button>
      <button
        (click)="checkAnswer('option3')"
        class="px-6 py-3 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition-all"
      >
        {{ 'python_level1.options.option3' | translate }}
      </button>
    </div>

    <p *ngIf="feedbackMessage" class="text-lg text-gray-700 mt-4">
      {{ feedbackMessage }}
    </p>

    <!-- Si se ha acertado botón siguiente nivel -->
    <button
      *ngIf="feedbackMessage.includes('Correct')" 
      (click)="goToNextLevel()"
      class="mt-6 px-6 py-3 bg-green-600 text-white rounded-lg shadow-md hover:bg-green-700 transition-all"
    >
      {{ 'python_level1.next_button' | translate }}
    </button>
  </div>
</div>
