<link rel="preload" as="image" href="https://res.cloudinary.com/dkt1t22qc/image/upload/v1742357451/Prestataires_Documents/cynbxx4vxvgv2wrpakiq.jpg" />
<div class="bg-no-repeat bg-cover" style="background-image:url(assets/wallpaper-pixel2.jpg)">
  <div class="flex h-screen items-center justify-center">
    <div class="flex flex-col items-center space-y-8">
      <div class="w-80 rounded-[20px] bg-white p-8" style="box-shadow:#00000057 1px 3px 4px">
        <h1 class="mb-4 text-center text-3xl font-bold text-black" style="text-shadow:#00000063 0px 3px 5px">
          {{ "login.welcome_back" | translate }}
        </h1>
        <div class="space-y-4">
          <input
            type="email"
            placeholder="{{'login.email_placeholder' | translate}}"
            class="w-full rounded-md bg-[#E9EFF6] p-2.5 placeholder:text-[#000000]"
            style="box-shadow:rgb(0 0 0 / 21%) 0px 7px 5px 0px"
            [(ngModel)]="email"
            name="{{'login.email' | translate}}"
          />
          <input
            type="password"
            placeholder="{{'login.password_placeholder' | translate}}"
            class="w-full rounded-md bg-[#E9EFF6] p-2.5 placeholder:text-[#000000]"
            style="box-shadow:rgb(0 0 0 / 21%) 0px 7px 5px 0px"
            [(ngModel)]="password"
            name="{{'login.password' | translate}}"
          />
        </div>
        <div class="mb-4 pt-2">
          <span class="ml-2 cursor-pointer text-[10px] text-[#228CE0] hover:underline">{{'login.forget_password' | translate}}</span>
        </div>
        <div class="mb-4 flex justify-center">
          <button
            class="h-10 w-full cursor-pointer rounded-md bg-gradient-to-br from-[#1980e6] to-[#3269FF] text-white shadow-md shadow-blue-950"
            (click)="login()"
          >
          {{ "login.sign_in" | translate }}
        </button>
        </div>
        <div class="text-center text-[#969696]">
          {{ "login.dont_have_account" | translate }}
          <button
            class="cursor-pointer text-[#7337FF] hover:underline bg-transparent border-none"
            (click)="navigateToRegister()"
          >
            {{ "login.sign_up" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
