@import 'https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.css';

/* Ajustar el estilo de los operadores para que no aparezcan como resaltados */
.token.operator,
.token.punctuation {
  color: #1E90FF !important; /* Azul (puedes cambiar el código de color a tu preferencia) */
  background: none !important; /* Eliminar fondo */
}

/* You can add global styles to this file, and also import other style files */
body {
    overflow-x: hidden;  /* Oculta el scroll horizontal */
    overflow-y: auto;    /* Muestra el scroll vertical si es necesario */
  
    /* Para forzar el color del fondo en el cuerpo si quieres contraste */
    background-color: #121212;  /* Opcional: fondo oscuro */
  }
  
  /* Scrollbar personalizado para navegadores Webkit (Chrome, Edge, Safari) */
  body::-webkit-scrollbar {
    width: 0px; /* Ancho de la barra */
  }
  
  body::-webkit-scrollbar-track {
    background: #1e1e1e; /* Color de fondo de la pista */
    border-radius: 5px;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #008cff; /* Color de la barra */
    border-radius: 10px;
    border: 2px solid #1e1e1e; /* Espaciado con fondo */
  }
  

 